*{
  margin: 0;
  padding: 0;
}
div{
  width: 970px;
  height: 1390px;
  margin: 60px 80px;
  background-color: gray;
}
.art1{
  display: inline-block;
  width: 900px;
  height: 600px;
  margin: 10px 30px 0px 40px;
  background-color: green;
}
.art2{
  width: 900px;
  height: 400px;
  margin: 20px 10px 30px 60px;
  background-color: red;
}
.art3{
  width: 900px;
  height: 300px;
  margin: 30px 40px 30px 30px;
  background-color: blue;
}



/*SEGUNDO PUNTO*/

.panel2{
  width: 985px;
  height: 950px;
  margin: 60px 80px;
  background-color: black;
}
.art4{
  display: inline-block;
  width: 835px;
  height: 330px;
  margin: 45px 20px 15px 70px;
  background-color: white;
}
.a1{
  width: 800px;
  height: 100px;
  margin: 50px 15px 20px 20px;
  background-color:#BFFF00;
}
.a2{
  width: 800px;
  height: 100px;
  margin: 30px 15px 10px 20px;
  background-color: #BFFF00;
}
.art5{
  width: 835px;
  height: 280px;
  margin: 10px 30px 20px 70px;
  background-color: white;
}
.b1{
  display: inline-block;
  width: 700px;
  height: 150px;
  margin: 65px 25px 20px 65px;
  background-color: #BFFF00;
}
.art6{
  width: 835px;
  height: 150px;
  margin: 30px 15px 25px 70px;
  background-color: white;
}


/*TERCER PUNTO*/
.panel3{
  width: 980px;
  height: 830px;
  margin: 40px 30px;
  background-color: #CEECF5;
}

.art7{
    display: inline-block;
  width: 900px;
  height: 230px;
  margin: 30px 40px 30px 40px;
  background-color: #5882FA;
}
.art8{
  width: 900px;
  height: 270px;
  margin: 0px 60px 40px 40px;
  background-color: #5882FA;
}
.a3{
 display: inline-block;
  width: 850px;
  height: 100px;
  margin: 20px 20px 10px 25px;
  background-color: #2E2EFE;
}
.a4{
  width: 850px;
  height: 100px;
  margin: 10px 20px 10px 25px;
  background-color: #2E2EFE;
}
.art9{
  width: 900px;
  height: 200px;
  margin: 40px 60px 10px 40px;
  background-color: #5882FA;
}
.b2{
 display: inline-block;
  width: 860px;
  height: 140px;
  margin: 30px 20px 30px 20px;
  background-color:#2E2EFE;
}
.c1{
  display: inline-block;
  width: 820px;
  height: 100px;
  margin: 20px 20px 10px 20px;
  background-color:#0B0B61;
}
.d1{
  display: inline-block;
  width: 780px;
  height: 80px;
  margin: 10px 20px 10px 20px;
  background-color:#0A0A2A;
}
/*PAGINA CUATRO*/

.panel4{
  display: inline-block;
  width: 1000px;
  height: 1200px;
  margin: 50px 50px;
  background-color: #FF0C00;
}

.art10{
  display: inline-block;
  width: 900px;
  height: 1100px;
  margin: 45px 20px 20px 45px;
  background-color: #FFF000;
}

.a5{
  display: inline-block;
  width: 800px;
  height: 1000px;
  margin: 45px 40px 40px 45px;
  background-color: #000000;
}
.b3{
  display: inline-block;
  width: 700px;
  height: 400px;
  margin: 65px 20px 20px 45px;
  background-color: #FF0C00;
}
.c2{
  display: inline-block;
  width: 600px;
  height: 250px;
  margin: 70px 10px 10px 50px;
  background-color:#FFF000;
}
.d2{
  display: inline-block;
  width: 400px;
  height: 100px;
  margin: 70px 30px 20px 100px;
  background-color: #000000;
}
.b4{
  display: inline-block;
  width: 700px;
  height: 400px;
  margin: 50px 20px 20px 45px;
  background-color: #FF0C00;
}
.c3{
  display: inline-block;
  width: 600px;
  height: 250px;
  margin: 70px 10px 10px 50px;
  background-color:#FFF000;
}
.d3{
  display: inline-block;
  width: 400px;
  height: 100px;
  margin: 70px 30px 20px 100px;
  background-color: #000000;
}

/*PAGINA CINCO*/
.panel5{
  display: inline-block;
  width: 900px;
  height: 1280px;
  margin: 70px 60px;
  background-color: GAINSBORO;
}
.art11{
  display: inline-block;
  width: 800px;
  height: 1000px;
  margin: 30px 60px 40px 40px;
  background-color: SILVER;
}

.a6{
  display: inline-block;
  width: 700px;
  height: 200px;
  margin: 30px 30px 30px 50px;
  background-color: DARKGRAY;
}
.a7{
  display: inline-block;
  width: 700px;
  height: 200px;
  margin: 30px 30px 30px 50px;
  background-color: DIMGRAY;
}
.a8{
  display: inline-block;
  width: 700px;
  height: 200px;
  margin: 30px 30px 30px 50px;
  background-color: LIGHTSLATEGRAY;
}
.a9{
  display: inline-block;
  width: 700px;
  height: 90px;
  margin: 30px 30px 30px 50px;
  background-color: DARKSLATEGRAY;
}
.art12{
  display: inline-block;
  width: 800px;
  height: 90px;
  margin: 30px 60px 40px 40px;
  background-color: black;
}
